.background {
  viewport-fill: fb-black;
}

.sec-hand {
  y: -64;
  fill: fb-white;
}

.min-hand {
  y: -68;
  fill: fb-white;
}

.hour-hand {
  y: -48;
  fill: fb-white;
}

.tick-marks {
  x: 2;
  y: 2;
}

.numbers {
  x: 17;
  y: 17;
}